<aside>
	<div class="panel radius">
		<h3>About this blog</h3>
		<p>
			This blog seeks to collect thoughts and ideas about the academic
			and entrepreneurial work done by Rodrigo Rivera-Castro. The material presented here represent
			exclusively the author's view. They do not reflect the opinion of any organization with whom the author
			has affiliation.
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="{{ site.urlimg }}/org_rodrigorivera_313x350.jpg" alt="uh, Placekitten">
		<p class="text-left">
			Rodrigo Rivera-Castro
		</p>
	</div>
</aside>